#banner
  .banner_content
  %h1 File Cabinet
  %p Your life's work. Organized, always.
  %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
      %h2 Organize
      %p Just created another quicky app with Ruby on Rails. I used Ruby's haml instead of .erb just to show how Ruby on Rails can be versatile in delivering your creativity and ideas  of app-development We at the appwebtech will get you all the latest tech in web and app design and create a personalised solution for each of your needs.
      %p Joseph Mwaniafor the appwebtech.

#bottom_cta
  .wrapper
  %h2 Go Ahead!
  %br
  %button= link_to "Join Now", new_user_registration_path